<p class="login_newsletter_subscribe">
  <%= f.check_box :is_mail_list_subscriber, :class => 'title' %>&nbsp;
  <%= f.label :is_mail_list_subscriber, Spree.t(:do_subscribe_to_our_mailing_list) %>
</p>
